<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858870827011-kmfs0m1ss7b4lvi80q4ckvebuf40igla.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858870827011-kmfs0m1ss7b4lvi80q4ckvebuf40igla</string>
	<key>API_KEY</key>
	<string>AIzaSyDcXVI7OrjqGkeBfkIpDUYfjGGtuRmhCr4</string>
	<key>GCM_SENDER_ID</key>
	<string>858870827011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.edu.uts.iChat</string>
	<key>PROJECT_ID</key>
	<string>ichat-fe3fe</string>
	<key>STORAGE_BUCKET</key>
	<string>ichat-fe3fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858870827011:ios:2eabaca96bc27b5a</string>
	<key>DATABASE_URL</key>
	<string>https://ichat-fe3fe.firebaseio.com</string>
</dict>
</plist>